/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/09/2016, 14:26:26
    Author     : INFORTEC
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
    font-family: 'Roboto', sans-serif!important;
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
}
.container-fluid {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.borda-completa{
    border-bottom: 6px solid #FEC50B ;
}
.borda{
    border-top: 4px solid #FEC50B;
}
.bola {
    border-radius: 50%;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 1px solid #319399;
    background-color: #319399;
}
.imgbola {
    margin-top: 30px;
}

.home {
    padding-bottom: 40px;
    padding-top: 40px;
}
.gray, a gray {
    -webkit-filter:grayscale(80%)
}
.gray:hover, a:hover gray {
    -webkit-transition-duration: 0.5s;
    -webkit-filter:grayscale(1%)
}
.gray {
    padding-bottom: 20px;
    padding-right: 20px;
}

.gray a{
    color: #fff;
}
.gray a:hover{
    color: #fff;
    text-decoration: none;
}
/*
* rodapé
*/
footer {
    background: #000;
    padding-bottom: 40px;
    padding-top: 40px;
    color: #fff;
    margin-bottom: 0px!important;
}
footer li{
    list-style-type: none;    
}

footer li a{
    color: #9d9d9d;
}

footer li a:hover{
    color: #fff;
    text-decoration:none; 
}
.fundo {
    padding-top: 20px;
}
/*
* rodapé
*/
.contato {
    margin-bottom: 0px!important;
    margin-top: 0px!important;
}
.contato02 {
    padding-bottom: 40px;
    padding-top: 40px;
}
/*
* MENU
*/
.navbar {
    background: #000!important;
    border-color: #fff!important;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
}
.navbar a{
    color: #9d9d9d!important;
}
.navbar a:hover{
    color: #fff!important;
}
.navbar .navbar-toggle{
    border-color: #fff!important;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover{
    background: #9d9d9d!important;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px!important;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px!important;
}
/*
* MENU
*/
.sobre {
    padding-top: 40px;
    padding-bottom: 40px;
}

